<div class="profile">
  <mat-card-content class="m-1">
    <div class="col-md-4 d-flex justify-content-end">
      <h1 class="titleInfo fs-1">Tu información de perfil</h1>
    </div>
    <mat-tab-group class=" credentials col-md-9 mx-auto my-auto">
      <div class="list-and-image">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">person</mat-icon>
            Contacto
          </ng-template>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Nombre</span>
              Administrador
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Apellido</span>
              Catenaria
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Fecha de nacimiento</span>
              14 de Septiembre de 2023
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Número telefonico</span>
              300 900 9001
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </div>
      <div>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">key</mat-icon>
            Credenciales
          </ng-template>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Nombre</span>
              Administrador
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Correo electrónico</span>
              admin@cs.co
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Contraseña</span>
              ****
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </div>
    </mat-tab-group>
  </mat-card-content>
</div>
