.bg-login{
  backdrop-filter: blur(5px);
  padding: 50px;
  border-radius: 10px;
}
h1{
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0px;
  color: var(--primary);
}

label{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
}
input{
  font-size: 20px;
  margin: 10px 0px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
}
button{
  font-weight: bold;
}
span{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

