<div class="main-container">
    <div class="card-container container">
      <h2 class="title">Crear proyecto</h2>
      <div class="containt">
        <div class="row" >
          <div class="mx-auto">
            <form>
              <div class="row">


                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group space">
                    <label for="nombre" class="subtitle">Nombre:</label>
                    <input type="text" id="nombre" [(ngModel)]="name_inp" class="form-control subtitle" name="nombre" placeholder="Nombre del usuario">
                  </div>
                </div>



                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group space">
                    <label for="nombre" class="subtitle">Descripción:</label>
                    <input type="text" id="nombre" [(ngModel)]="description_inp" class="form-control subtitle" name="nombre" placeholder="Descripción corta" style="height: 100px;">
                  </div>
                </div>

                <!-- ------------------------------------------------------------------------------------ -->


                <!-- ------------------------------------------------------------------------------------ -->

                
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group space">
                    <label for="telefono" class="subtitle">Imagenes:</label>
                    <p-fileUpload name="myfile[]" url="./upload.php" 
                    accept="image/*"></p-fileUpload>
                  </div>
                </div>


                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group space">
                    <label for="telefono" class="subtitle">Miniatura:</label>
                    <p-fileUpload name="myfile[]" url="./upload.php" 
                    accept="image/*"></p-fileUpload>
                  </div>
                </div>
                


                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group space">
                    <label for="telefono" class="subtitle">Modelos:</label>
                    <p-fileUpload name="myfile[]" url="./upload.php" 
                    accept="image/*"></p-fileUpload>
                  </div>
                </div>
                
                <div class="col-sm-12 col-md-12 col-lg-6 w-100">
                  <div class="form-group space ">
                    <label for="apellido" class="subtitle">Contenido:</label>
                    <p-editor [(ngModel)]="text" [style]="{'height':'320px'}"></p-editor>
                   </div>
                </div>
                

              
            
            </div>




              <div class="row justify-content-md-center btn-container">
                <button class="btn-acept btn-css" >Guardar</button>
                <button class="btn btn-cancel btn-css">Cancelar</button>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
