<div class="tw-h-screen bg">
  <div class="tw-flex tw-h-full tw-flex-col tw-ml-10 tw-justify-center">
    <ul>
      <li>
        <a [routerLink]="'proyects'">
          Proyectos
        </a>
      </li>
      <li>
        <a [routerLink]="'horarios'">
          Horarios
        </a>
      </li>
      <li>
        <a href="">
          Articulos
        </a>
      </li>
      <li>
        <a [routerLink]="'appointments'">
          Citas
        </a>
      </li>
      <li>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Reportes
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="" [routerLink]="'reports/users'">Usuarios</a></li>
          <li><a class="dropdown-item" href="" [routerLink]="'reports/proyects'">Proyectos</a></li>
          <li><a class="dropdown-item" href="" [routerLink]="'reports/articulos'">Articulos</a></li>
          <li><a class="dropdown-item" href="" [routerLink]="'reports/citas'">Citas</a></li>
        </ul>
      </div>
      </li>
      <li>
        <a href="">
          Logs
        </a>
      </li>
    </ul>
  </div>
</div>
