<div class="tw-flex tw-flex-col tw-min-h-screen tw-w-full tw-items-center tw-mt-20">
  <div class="container-header">
    <p class="title">Horarios de Atención</p>
  </div>
  <table class="table">
    <caption></caption>
    <thead>
      <tr>
        <th>Día</th>
        <th>Franjas</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let horario of horarios">
        <tr>
          <td [ngStyle]="{'background-color' :  horario.active  ? ''  : '#ECF0F1'} " style="width: 220px;">
            <mat-icon class="material-icons-outlined lockIcon">lock</mat-icon>
            <mat-slide-toggle [(ngModel)]="horario.active" color="primary"></mat-slide-toggle>
            <mat-icon class="material-icons-outlined lockIcon">lock</mat-icon>
            <strong class="label-day">{{horario.dia }}</strong>
          </td>
          <td [ngStyle]="{'background-color' :  horario.active  ? ''  : '#ECF0F1'} ">
            <div style="font-style: italic; text-align: right; color: gray;" *ngIf="!horario.active">
              <p>Este día se encuentra bloqueado</p>
            </div>
            <div style="display: flex;" *ngIf="horario.active">

              <div class="col" style=" text-align: right;">
                <ng-container *ngFor="let hora of horario.franjas">
                  <mat-chip-row (removed)="deleteSchedule(horario.dia, hora) ">
                    {{hora.hora_inicio}}
                    -
                    {{hora.hora_fin}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </ng-container>
              </div>

              <div class="col-1" style="text-align: center;">
                <button mat-mini-fab class="custom-fab" (click)="openDialog(horario.dia)">
                  <mat-icon>add</mat-icon></button>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="tw-flex ">
    <button class="btn btn-primary tw-mr-10" (click)="saveSchedules()">Guardar</button>
    <button class="btn btn-cancel" [routerLink]="'/horarios'">Cancelar
    </button>
  </div>
</div>
