<!-- <div class="main-container">
  <div class="card-container container ">

    <div class="row ">
      <div class="col-md-12">
        <div class="container-table shadow">
          <div class="container-header">
            <p class="title"><strong>Horarios de Atención</strong></p>
            <hr style="margin-bottom:5px !important; margin-top:5px !important; " />
          </div>
          <table class="table">
            <thead>
            </thead>
            <tbody>
              <ng-container *ngFor="let horario of horarios">
                <tr>

                  <td [ngStyle]="{'background-color' :  horario.active  ? ''  : '#ECF0F1'} " style="width: 220px;">
                    <mat-icon class="material-icons-outlined lockIcon">lock</mat-icon>

                    <mat-slide-toggle [(ngModel)]="horario.active" color="primary"></mat-slide-toggle>
                    <mat-icon class="material-icons-outlined lockIcon">lock</mat-icon>
                    <strong class="label-day">{{horario.dia }}</strong>
                  </td>
                  <td [ngStyle]="{'background-color' :  horario.active  ? ''  : '#ECF0F1'} ">
                    <div style="font-style: italic; text-align: right; color: gray;" *ngIf="!horario.active">
                      <p>Este día se encuentra bloqueado</p>
                    </div>
                    <div style="display: flex;" *ngIf="horario.active">

                      <div class="col" style=" text-align: right;">
                        <ng-container *ngFor="let hora of horario.franjas">
                          <mat-chip-row (removed)="deleteSchedule(horario.dia, hora) ">
                            {{hora.hora_inicio}}
                            -
                            {{hora.hora_fin}}
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip-row>
                        </ng-container>
                      </div>

                      <div class="col-1" style="text-align: center;">
                        <button mat-mini-fab class="custom-fab" (click)="openDialog(horario.dia)">
                          <mat-icon>add</mat-icon></button>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
          <div class="col-md-auto buttons">
            <button class="btn mt-3 btn-acept btn-css d-inline text-center" (click)="saveSchedules()">Aceptar</button>
            <button class="btn mt-3 btn-cancel btn-css d-inline text-center" (click)="cancel()">Cancelar
            </button>
          </div>
        </div>

      </div>

    </div>

  </div>
</div> -->
