<div class="body">
    <div style="width: 100%; display: flex; justify-content: center;"></div><img src="./assets/background.png" style="position: absolute; height: 1000px; width: 100%"></div>
    <div class="main_container">
        <h1 class="text header_text">Catálogo de artículos</h1>
        <h2 class="text sub_text">A continuación todos los artículos creados:</h2>
        <div class="flex">
            <!-- <button class="button_add_project" (click)="createProject()">Agregar Proyecto +</button> -->
        </div>
        <div class="appointments_container" >
            <div class="box">
                <div class="row_box">
                    <h2 class="title_box">Foto</h2>
                    <h2 class="title_box">Titulo</h2>
                    <h2 class="title_box">Fecha de Creacion</h2>
                    <h2 class="title_box">Descripción</h2>
                    <h2 class="title_box" style="border-right: none;">Opciones</h2>
                </div>

                <div class="row_separator"> </div>

               <div *ngFor="let article of articles"  class="subcontainer">
                    <div class="row_box" >
                        <div class="subtitle_box" style="margin-bottom:15px;">
                            <img [src]="ApiUrl+article.miniatura_path" class="miniatura" alt="Miniatura">
                        </div>
                        <h2 class="subtitle_box">{{article.titulo}}</h2>
                        <h2 class="subtitle_box">{{article.fecha_creacion}}</h2>
                        <h2 class="subtitle_box">{{article.descripcion}}</h2>
                        <div class="icons_confirm">
                            <button style="background: none; border: none" class="icons"><img src="./assets/edit_project.png" class="icons" alt=""></button>
                            <button style="background: none; border: none" class="icons"><img src="./assets/delete_project.png" class="icons" alt=""></button>
                        </div>
                    </div>
                    <div class="row_separator"> </div>
                </div>
            </div>
        </div>

    </div>

