<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-toolbar color="primary">
      Menu Admin
    </mat-toolbar>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="row background-header">
      <div class="col-3" >
        <app-header  (toggleSidenav)="sidenav.toggle()"></app-header>
      </div >
      <div class="col-9" >
        <app-menu></app-menu>
      </div>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
