<div class="row m-0">
  <div class="col-md-6 p-0 m-0 h-100 d-flex">
    <div class="container text-center">
      <div class="row my-5">
        <mat-card class="credentials row my-6 h-100 ">
          <mat-card-content>
            <div>
              <h2 class="secondFont fs-1">CATENARIA</h2>
              <h2 class="thirdFont fs-4">Admin</h2>
              <h2>Login</h2>
            </div>
            <p>Ingrese su usuario y contraseña</p>
            <mat-form-field class="full-width-input">
              <input type="email" matInput placeholder="Nombre de usuario" required />
            </mat-form-field>
            <mat-form-field class="full-width-input ">
              <input type="password" matInput placeholder="Contraseña" required />
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <button class="whiteText fs-6 btnPrimary">
                Iniciar sesión
              </button>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-md-6 d-flex align-items-stretch h-110 p-0">
    <div>
      <img src="assets/img/loginSide.jpg" class="img-fluid h-100" alt="">
    </div>
  </div>
</div>
