.login-form{
    padding:4rem 1rem;    
}

mat-card {
  max-width: 300px;
  margin: 2rem auto;
  text-align: center;
  height: 350px;
}

full-widht-input, button {
  width: 100%;
}

.separator {
  margin-bottom: 2rem;
}

.secondFont {
  height: 36px;
  font-family: 'Bahiana';
  font-size: 26px;
}

.thirdFont {
  font-size: 14px;
  font-family: 'Bahiana';
}

.credentials {
  border-radius: 20px;
  background: rgba(8, 105, 112, 0.10);
  backdrop-filter: blur(10px);
}

.btnPrimary {
  border-radius: 5px;
  border: 1px solid #086970;
  background: #FFF;
}
