.header-navigation{

  background: radial-gradient(126.75% 126.75% at 50% 50%, #086970 0%, rgba(30, 33, 69, 1) 100%);
}
.white-text{
  color: white;
}
a{
  color: white;
}

.titleFont{
  height: 36px;
  font-family: 'Gogoia';
  font-size: 36px;
}

.subTitleFont{
  font-family: 'Gogoia';
  font-size: 14px;
  text-align: center;
}

li a {
  font-family: 'Gogoia';
  font-size: 24px;
  margin: 0 20px;
}
