<div class="profile">
  <mat-card-content>
    <h1>Tu información de perfil</h1>
    <div>
      <img src="./assets/cateLogo.png" />
    </div>
    <mat-tab-group>
      <div class="list-and-image">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">person</mat-icon>
            Contacto
          </ng-template>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Nombre</span>
              <span matListItemLine>Administrador</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Apellido</span>
              <span>Catenaria</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Fecha de nacimiento</span>
              14 de Septiembre de 2023
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Número telefonico</span>
              300 900 9001
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </div>
      <div>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">key</mat-icon>
            Credenciales
          </ng-template>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Nombre</span>
              <span matListItemLine>Administrador</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Correo electrónico</span>
              <span>admin@cs.co</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Contraseña</span>
              ****
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </div>
    </mat-tab-group>
  </mat-card-content>
</div>
