<p-toast position="bottom-right" key="br-info" styleClass="">
  <ng-template let-message pTemplate="message">
    <div class="gradient-info alert p-2 tw-flex tw-flex-col tw-justify-around">
      <div class="tw-flex tw-flex-col">
        <h4 *ngIf="message.summary" class="text-r mb-2 color-info tw-flex tw-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#00FFFF" class="tw-w-4 tw-h-4 tw-mr-1">
            <path fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 01.67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 11-.671-1.34l.041-.022zM12 9a.75.75 0 100-1.5.75.75 0 000 1.5z"
              clip-rule="evenodd" />
          </svg>
          {{message.summary}}
        </h4>
        <p class="color-info-light text-m">
          {{message.detail}}
        </p>
      </div>
      <div class="tw-flex tw-items-end tw-justify-end">
      </div>
    </div>
  </ng-template>
</p-toast>
